body {
    background-color: #5F9A80;
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: "Fredericka the Great", serif, system-ui, sans-serif;
    color: antiquewhite;
    font-size: large;
    margin-top: 0%;
    margin-left: 20%;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    margin: 20px;
    border: 2px dotted white;
  }
  
  .sqr {
    box-sizing: border-box;
    width: 33.3333%;
    aspect-ratio: 1/1;
    font-size: 64px;
    text-align: center;
    align-content: center;
  }

  .sqr:nth-child(2){
    border-left: 2px dotted white;
    border-right: 2px dotted white;
  }
  .sqr:nth-child(4){
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
  }
  .sqr:nth-child(5){
  border: 2px dotted white;
}
.sqr:nth-child(6){
  border-top: 2px dotted white;
  border-bottom: 2px dotted white;
}
.sqr:nth-child(8){
  border-left: 2px dotted white;
  border-right: 2px dotted white;
}

.sqr:hover{
  border: 2px solid white;
  background-color: #023814;
}

#turnCounter {
  display: inline;
}

h1{
  padding: 10px;}

#reset{
  margin-left: 20px;
  font-size: x-large;
  text-align: center;
  padding: 10px 0 10px 0;
}